@model WeightTracker.Models.WeightsReportViewModel
<h3>Weights</h3>

<table>
    <thead>
        <tr>
            <th>Kilograms</th>
            <th>When</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weight in Model.Weights)
        {
            <tr>
                <td>@weight.Kilograms</td>
                <td>@weight.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<div class="row s2">
    <form asp-controller="Users" asp-action="AddWeight" method="post" class="center-align">
        <div class="col s2">
            <input id="weight" name="weight" type="text" placeholder="Weight" class="validate">
            <input asp-for="Name" hidden>
            <input asp-for="SecretWord" hidden>
        </div>
        <div class="col s2">
            <button id="add-weight-btn" class="btn waves-effect waves-light" type="submit" name="action">Add weight</button>
        </div>
    </form>
</div>


